body{
    background-image: url("image/template/background.jpg")
}

.container {
    
}

.header {
    display: flex;
    align-items: center;
    margin-left: 170px;
    height: 50px;
    color: #eee;
    font-size: 40px;
}

.logo{
    margin-top: 5px;
  }

.content {
    display: flex;
    margin:0 auto;
    width: 1013px;
    padding: 30px 0;
}

.mains{
    display: block;
}

.main {
    display: inline-block;
    min-width: 673px;
    min-height: 1000px;
    margin-left: 40px;
    padding: 50px;
    background: #ccc;
    background: linear-gradient(to bottom, #eeeeee 0%,#B7EAE0 100%);
}

.heading{
    text-align: center;
    font-size: 25px;
    border-top: 1px solid #5887ff;
    border-bottom: 1px solid #5887ff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 2px;
}
.small_heading{
    text-align: left;
    font-size: 20px;
    min-width: 1px;
    background: linear-gradient(transparent 60%, #a682ff 50%);
}

.text{
    text-align: left;
    font-size: 17px;
    line-height: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.note{
    text-align: left;
    text-indent: -2.6em;
    font-size: 15px;
    line-height: 1.5em;
    padding-left: 2.6em;
    padding-right: 30px;
}

.note_box{
    padding: 0.3em 0.3em;
    border: double 5px #fffb46;
}

.pic{
    display: block;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.pic_text{
    text-align: center;
    text-indent: -2.8em;
    padding-left: 2.8em;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 410px;
}

.photo-jupi-kami1{
  text-align: center;
}

.photo-jupi-kami2{
  text-align: center;
}

.photo-jupi-kami3{
  text-align: center;
}

.span_20{
    display: inline-block;
    width: 20em;
}

.span_10{
    display: inline-block;
    width: 10em;
}

.top_pic{
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

img.link{
    width: 300px;
}

.link_inst{
    text-align: left;
    font-size: 17px;
    line-height: 2em;
}

.sides{
    display: flex;
    align-items: top;
    justify-content: left;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    width: 200px;
    height: 140px;
    color: #fff;
    padding-top: 0px;
}

.side {
    width: 200px;
	margin: 0;
    padding: 0;
    top: 0px;
}

.side a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	line-height: 1;
}
.side label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #fff;
	background: #5887ff;
	cursor: pointer;
}
.side label::before {
	position: absolute;
	color: #fcfcfc;
	right: 0.5em;
	top: 25%;
}
.side input {
	display: none;
}
.side ul {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	list-style: none;
}
.side li {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.5s;
}
/*リストが増えたらULごとに追加してください*/
#side_bar1:checked ~ #link1 li,
#side_bar2:checked ~ #link2 li,
#side_bar3:checked ~ #link3 li,
#side_bar4:checked ~ #link4 li,
#side_bar5:checked ~ #link5 li {
	max-height: 46px;
	opacity: 1;
}

div.white{
    text-align: right;
    margin-left: auto;
    background: #fff;
    height: 40px;
    width: 221px;
}


.footer {
    margin-top: 20px;
    text-align: right;
    font-size: 10px;
    color: #fff;
    padding-right: -50px;
    margin-right: 0px;
    margin-left: auto;
  }
