body{
    background-image: url("image/template/background.jpg")
}

.container {
    padding: 1%;
    margin-left: 7%;
    margin-right: 7%;
}

.header {
    display: flex;
    align-items: center;
    height: 50px;
    color: #eee;
    font-size: 40px;
}

.logo{
    margin-left: 5px;
    margin-top: 5px;
  }

.content {
    display: flex;
    padding: 30px 0;
}

.main {
    width: 1000px;
    min-height: 440px;
    margin-left: 40px;
    background: #ccc;
    background: linear-gradient(to bottom, #eeeeee 0%,#B7EAE0 100%);
}

.heading{
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid #5887ff;
    padding: 10px;
    margin: 2px;
}

.text{
    text-align: left;
    font-size: 17px;
    line-height: 2em;
    padding: 30px;
}

.note{
    text-align: left;
    font-size: 15px;
    line-height: 1.5em;
    padding-left: 30px;
    padding-right: 30px;
}

.photo-jupi-kami1{
  text-align: center;
}

.photo-jupi-kami2{
  text-align: center;
}

.sides{
    display: flex;
    align-items: top;
    justify-content: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 200px;
    height: 140px;
    color: #fff;
    padding-top: 0px;
}

.side {
    width: 200px;
	margin: 0;
    padding: 0;
    top: 0px;
}

.side a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	line-height: 1;
}
.side label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #fff;
	background: #5887ff;
	cursor: pointer;
}
.side label::before {
	position: absolute;
	color: #fcfcfc;
	right: 0.5em;
	top: 25%;
}
.side input {
	display: none;
}
.side ul {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	list-style: none;
}
.side li {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.5s;
}
/*リストが増えたらULごとに追加してください*/
#side_bar1:checked ~ #link1 li,
#side_bar2:checked ~ #link2 li,
#side_bar3:checked ~ #link3 li,
#side_bar4:checked ~ #link4 li,
#side_bar5:checked ~ #link5 li {
	max-height: 46px;
	opacity: 1;
}

div.white{
    margin-left: auto;
    background: #fff;
    height: 40px;
    width: 221px;
}


.footer {
    text-align: right;
    font-size: 10px;
    color: #fff;
    margin-right: 0px;
  }
